@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: "Be Vietnam Pro", sans-serif;
}

h1 {
	font-size: 60px;
	color: #204b63;
	text-stroke: 20px solid #84a4ac;
}

h2 {
	font-size: 45px;
	color: #204b63;
}

h3 {
	font-size: 30px;
	color: #204b63;
}

h4 {
	font-size: 20px;
	color: #204b63;	
}

h5, h6, p{
	color: #204b63;
}

html, body {
	margin: 0;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content {
	flex: 1; /* Take up the remaining space to push the footer down */
}
  

.footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}
/*  Header  */

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 60px;
	background: #f9fcfd;
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 30px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #204b63;
	transition: .2s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #84a4ac;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 25%;
	height: 2px;
	background: #84a4ac;
	position: absolute;
	bottom: -2px;
	right: 30px;
}

/*  Home  Page */

#hero {
	background-image: url('row-of-buildings.png');
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	background-attachment: scroll;
	padding: 200px 80px;
}

#hero button {
	border: 0;
	background-color: #204b63;
	color: #84a4ac;
	border-radius: 300px;
	width: 150px;
	height: 40px;
	transition: .2s ease;
}

#hero button:hover {
	background-color: #84a4ac;
	color: #204b63;
	transform: scale(1.05);
}

#listTitle {
	padding: 20px;
	text-align: center;
}

#new-listings {
	text-align: center;
	display: flex;
}

#new-listings a {
	text-decoration: none;
}

#new-listings .listings-container {
	padding: 20px;
}

#new-listings .listing {
	min-width: 250px;
	padding: 10px 12px;
	border: 2px solid #204b63;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
	margin: 15px 0;
	transition: 0.2s ease;
}

#new-listings .listing:hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.12);
	transform: scale(1.05);
}

#new-listings .listing img {
	width: 100%;
	border-radius: 20px;
}

#new-listings .listing .description {
	text-align: start;
	padding: 10px 0;
}

/*  Footer  */

footer {
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	background: #f9fcfd;
	position: sticky;
	z-index: 2;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 	
}

footer div{
	padding: 0 30px;
}z

footer li{
	list-style: none;
}

/*  Sell Page  */

#sellForm {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    background-color: #e7f3f7;
    max-width: 100%;
	max-height: 100%;
    border-radius: 10px;
}

#imageContainer {
    flex: 1; 
    max-width: 400px;
    text-align: center;
    margin-right: 20px;
}

#imagePreview {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f0f0f0;
}

#imageUpload {
    width: 100%;
    padding: 10px;
}
#details {
    flex: 2;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    padding: 20px;
	margin-bottom: 24%;
	margin-top: 20px;
	position: fixed;
}
#details input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	
}

button.sellBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #204b63;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.sellBtn:hover{
	background-color:#347aa0;
}

#details textarea {
    width: 100%; 
    height: 150px; 
    min-height: 100px;
    max-height: 300px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/*  Buy Page  */

#buy-listings {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#buy-listings a {
	text-decoration: none;
}

#buy-listings .listings-container {
	padding: 20px
}

#buy-listings .listing {
	min-width: 250px;
	padding: 10px 12px;
	border: 2px solid #204b63;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
	margin: 15px 0;
	transition: 0.2s ease;
}

#buy-listings .listing:hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.12);
	transform: scale(1.05);
}

#buy-listings .listing img {
	width: 100%;
	border-radius: 20px;
}

#buy-listings .listing .description {
	text-align: start;
	padding: 10px 0;
}

/*  Listing Page  */

#listing-page {
	display: flex;
	margin: 50px;
}

#listing-page .main-img{
	width: 40%;
	margin-right: 20px;
}

.small-img-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
	margin: 5px;
}

#listing-page .listing-details {
	width: 50%;
	padding-top: 30px;
}